<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Image Cropper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataUrl">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-text *ngIf="failedLoad" (color)="danger">Image failed to loadd</ion-text>
  <image-cropper [imageFile]="dataUrl" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
    [aspectRatio]="1 / 1" [resizeToWidth]="100" [resizeToHeight]="100" cropperMinWidth="100" cropperMinHeight="100"
    format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"></image-cropper>

  <img [src]="croppedImage" />
  <ion-button (click)="save()" fill="clear" expand="full">Save</ion-button>
</ion-content>