<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="close() ">
          Close
        </ion-button>
      </ion-buttons>
      <ion-title>New Activity</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="save()" expand="full">
          Save
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="activity.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Duration (in minutes / numbers only)</ion-label>
        <ion-input input type="text" pattern="[0-9]*" [(ngModel)]="activity.duration"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Notes</ion-label>
      </ion-item>
      <quill-editor [(ngModel)]="activity.notes"></quill-editor>
    </ion-list>
  
  </ion-content>