<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>{{ (!recipients?.length) ? "New Message" : checkIfMultipleRecipients(recipients)}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" #content class="ion-padding">

  <ion-item>
    <ion-label class="ion-text-wrap">To:
      <span class="recipient-bubble" margin-left
        *ngFor="let recipient of recipients">{{  recipient.fname + " " + recipient.lname }} <ion-icon
          (click)="removeUser(recipient)" style="vertical-align:middle" name="close"></ion-icon></span>
    </ion-label>
    <ion-button (click)="viewContacts()" fill="clear" slot="end">
      <ion-icon name="add"> </ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item class="ion-text-left" lines="none" *ngFor="let message of messages">
      <ion-avatar [slot]="(message?.createdby == user?.uid)  ? 'end' : 'start'">
        <img [src]="getMessageSender(message?.createdby)?.photoUrl">
      </ion-avatar>
      <ion-label [class]="(message?.createdby == user?.uid) ? 'userMessageList': 'otherMessageList'">
        <span [class]="(message?.createdby == user?.uid) ? 'userMessageSpan': 'otherMessageSpan'"
          [innerHTML]="message?.text"></span>
      </ion-label>
    </ion-item>

  </ion-list>



</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-button [disabled]="recipients?.length == 0 || !text" (click)="sendMessage()">
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-textarea [(ngModel)]="text" class="message-input" autoGrow="true" rows="1"></ion-textarea>
  </ion-toolbar>
</ion-footer>