  
.recipient-bubble{
    padding: 10px;
    border-radius: 50%;
    color: var(--ion-primary-color)
}

.message-input{
    border: 2px solid lightgray;
    background: white;
    border-radius: 20px;
    padding: 0px 10px;
    margin: 10px;
    max-width: 80%;
}


.userMessage {
    text-align: right;
    // background: green;
    // padding: 10px;
    color: white;
    // border-radius: 30%;
    // border: 2px solid green;
    position: relative;
	background: #00aabb;
    border-radius: .10em;
    padding: 10px;
    display: inline-block;
}


.otherMessage {
    text-align: left;
    background: gray;
    padding: 10px;
    color: white;
    border-radius: 30%;
    border: 2px solid gray;
    display: inline-block;
}
