  
.recipient-bubble{
    padding: 10px;
    border-radius: 50%;
    color: var(--ion-primary-color)
}

.message-input{
    border: 2px solid lightgray;
    background: white;
    border-radius: 20px;
    padding: 0px 10px;
    margin: 10px;
    max-width: 80%;
}


.userMessageSpan {


    padding: 10px;
    display: inline-block;
}


.otherMessageSpan {

    padding: 10px;
    display: inline-block;
}


.userMessageList{
    text-align: right;
   
    position: relative;

}


.otherMessageList {
    text-align: left;
    
    position: relative;

}

