<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!showClose" defaultHref="/tabs/profile"></ion-back-button>
      <ion-button *ngIf="showClose" (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>View Followers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text class="ion-text-center" *ngIf="followers?.length == 0">
    <p>You dont have any followers yet</p>
  </ion-text>

  <ion-list>
    <ion-item appViewProfile [user]="follower" slot="start" *ngFor="let follower of followers">
      <ion-avatar slot="start">
        <img [src]="follower?.photoUrl">
      </ion-avatar>
      <ion-label> {{ follower?.fname + " " + follower?.lname }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>