<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>View Followers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text class="ion-text-center" *ngIf="followers?.length == 0">
    <p>You dont have any followers yet</p>
  </ion-text>

  <ion-list>
    <ion-item *ngFor="let follower of followers">
      <ion-avatar slot="start">
        <img [src]="follower.photoUrl">
      </ion-avatar>
      <ion-label> {{ follower.fname + " " + follower.lname }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>