<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>Template {{ plan?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-reorder-group *ngIf="plan" (ionItemReorder)="reorderItems($event)" disabled="false">
    <ion-item [ngClass]="activity.startTime == currentActivity?.startTime  && showTimer   ? 'activeEvent' : ''"
      *ngFor="let activity of activities">
      <ion-label (click)="viewActivity(activity)">
        {{ activity.name }}
        <p> {{ activity.duration }} minutes</p>
      </ion-label>
      <ion-buttons slot="end">

        <ion-button color="dark">
          <ion-reorder *ngIf="this.user.admin" slot="end"></ion-reorder>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-reorder-group>

  <ion-button *ngIf="this.user?.admin" (click)="createActivity()" fill="clear">New Activity</ion-button>
</ion-content>