<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="viewMessages(messageList.recipients, messageList)" *ngFor="let messageList of messageLists">
      <ion-avatar slot="start">
        <img [src]="messageList.recipients[0]?.photoUrl">
      </ion-avatar>
      <ion-label no-wrap>
        <h5>{{ getRecipientName(messageList.recipients) }}</h5>
        <p> {{ messageList.lastMessage }}</p>
      </ion-label>
      <ion-note slot="end"> {{messageList.created | date: 'shortTime' }}
        <ion-badge *ngIf="messageList.new == true" color="danger">!</ion-badge>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-fab  horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="newMessage()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>