<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close() ">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Activity</ion-title>
    <ion-buttons slot="end">
      <ion-button  (click)="delete()" expand="full">
        Delete
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="activity.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Duration</ion-label>
      <ion-input [(ngModel)]="activity.duration"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Notes</ion-label>
    </ion-item>
    <quill-editor [(ngModel)]="activity.notes"></quill-editor>
  </ion-list>

</ion-content>