#image {
  max-width: 200px;
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 15px;
    /* This rule is very important, please do not ignore this! */

}

ion-item-divider {
  background: #f5f5f5 !important;
}