<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-button (click)="close()">
       <ion-icon slot="icon-only" name="close"></ion-icon>
     </ion-button>
    </ion-buttons>
    <ion-title>Plans</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addPlan()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item (click)="selectPlan(plan)" *ngFor="let plan of plans">
      <ion-label>
        <h2> {{ plan.date }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>