<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Plans</ion-title>
    <ion-buttons *ngIf="isHeadCoach" slot="end">
      <ion-button (click)="addPlan()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-virtual-scroll [items]="plans" [headerFn]="myHeaderFn">
    <ion-item-divider *virtualHeader="let header">
      {{ header }}
    </ion-item-divider>
    <ion-item *virtualItem="let plan">
      <ion-label (click)="selectPlan(plan)">
        {{ plan.date }}
        <p>Activities: {{ plan.activities }}</p>
      </ion-label>
      <ion-buttons *ngIf="isHeadCoach" slot="end">
        <ion-button (click)="delete(plan)">
          <ion-icon name="trash" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-virtual-scroll>



</ion-content>