<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>Select Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text *ngIf="recipients?.length == 0 && users?.length != 0 || !recipients && users?.length != 0"
    class="ion-text-center">
    <p>You can only message users who share the same Coach as you</p>
  </ion-text>
  <ion-text *ngIf="noOtherUsers" class="ion-text-center">
    <p>No other users share the same Coach as you</p>
  </ion-text>

  <ion-list>
    <ion-item (click)="selectContact(user)" *ngFor="let user of users">
      <ion-avatar slot="start">
        <img [src]="user.photoUrl">
      </ion-avatar>
      <ion-label>
        <h2>{{ user.fname + " " + user.lname }} </h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>