<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close() ">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title> {{ activity.name }}</ion-title>
    <ion-buttons *ngIf="isHeadCoach && !hideEdit" slot="end">
      <ion-button (click)="editActivity()">
        Edit
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="isHeadCoach && hideEdit && publicDrill" slot="end">
      <ion-buttons (click)="addToPlan()">
        Add To Plan
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="box-shadow: none;" class="ion-no-margin" *ngIf="activity">
    <ion-card-header>
      <ion-card-title> {{  activity.name }}</ion-card-title>
      <ion-card-subtitle *ngIf="!publicDrill"> {{ activity.startTime + "  | " + activity.duration + " minutes" }}
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="publicDrill"> {{ activity.duration + " minutes" }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content color="dark">
      <ion-label color="dark"  [innerHTML]="activity?.notes" >
      </ion-label>

    </ion-card-content>
  </ion-card>
</ion-content>