<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button style="margin-top:6px" tab="plan">
      <ion-icon  *ngIf="!volleyball"[name]="sport"></ion-icon>
      <div *ngIf="volleyball" style="font-size: 12px; ">
        <fa-icon class="fa-2x" icon="volleyball-ball"></fa-icon>
      </div>
      <ion-label class="tabl">Practice Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="drills">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Drill Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-badge *ngIf="messageCount > 0" color="danger">{{ messageCount }}</ion-badge>
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-badge *ngIf="newCount > 0" color="danger">{{ newCount }}</ion-badge>
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notiications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">

      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>