<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="plan">
      <ion-icon [name]="sport"></ion-icon>
      <ion-label >Practice Plan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="drills">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Drill Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-badge *ngIf="newMessages > 0" color="danger">{{ newMessages }}</ion-badge>
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications">
      <ion-badge *ngIf="newCount > 0" color="danger">{{ newCount }}</ion-badge>
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Notiications</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">

      <ion-icon name="contact"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>