<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="saveDrill()">
        Save
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Drill</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()">
        Delete
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">


        <ion-list>

          <ion-item>
            <ion-label position="floating"> Drill Name</ion-label>
            <ion-input [(ngModel)]="drill.name" placeholder="" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Duration</ion-label>
            <ion-input [(ngModel)]="drill.duration" placeholder="" input type="text" pattern="[0-9]*"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Catagory</ion-label>
            <ion-input [(ngModel)]="drill.catagory" placeholder="" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label >Notes</ion-label>
          </ion-item>

          <quill-editor [(ngModel)]="drill.notes"></quill-editor>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>