<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Drill</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="delete()">
        Delete
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <iframe *ngIf="trustedVideoUrl" width="100%" height="315" [src]="trustedVideoUrl" frameborder="0"
      allowfullscreen></iframe>
    <ion-item>
      <ion-label position="floating">Drill Name</ion-label>
      <ion-input [(ngModel)]="drill.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Video Url</ion-label>
      <ion-input (ionChange)="checkUrl(drill.video)" [(ngModel)]="drill.video"></ion-input>
      <ion-text color="danger" *ngIf="!validUrl && drill.video">This is not a valid Youtube URL</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Public Drill</ion-label>
      <ion-checkbox [(ngModel)]="drill.public"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button [disabled]="!validUrl || !drill.name" (click)="saveDrill()" expand="full">Save Drill</ion-button>
</ion-content>