<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/drills"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Drill</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="addDrill()">Add Drill</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md="4" offset-md="4">


        <ion-list>

          <ion-item>
            <ion-label position="floating"> Drill Name</ion-label>
            <ion-input [(ngModel)]="drill.name" placeholder="What your Drill will show up as" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Duration (numbers only)</ion-label>
            <ion-input [(ngModel)]="drill.duration" placeholder="Length of Drill in Minutes" type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Catagory (We may update this)</ion-label>
            <ion-input [(ngModel)]="drill.catagory" placeholder="Running, Quaterback, Balling Carrying, etc" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Notes</ion-label>
          </ion-item>

          <quill-editor [(ngModel)]="drill.notes"></quill-editor>
        </ion-list>
       
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- 
  <ion-list>
    <iframe *ngIf="trustedVideoUrl" width="100%" height="315" [src]="trustedVideoUrl" frameborder="0"
      allowfullscreen></iframe>
    <ion-item>
      <ion-label position="floating">Drill Name</ion-label>
      <ion-input placeholder="Name your drill will show as" [(ngModel)]="drill.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Video Url</ion-label>
      <ion-input placeholder="Link to Youtube video" (ionChange)="checkUrl(drill.video)" [(ngModel)]="drill.video">
      </ion-input>
      <ion-text color="danger" *ngIf="!validUrl && drill.video">This is not a valid Youtube URL</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox slot="start" [(ngModel)]="drill.public">
      </ion-checkbox>
      <p>Is this video open for everyone on the app to view</p>
    </ion-item>
  </ion-list>
  <ion-button [disabled]="!validUrl || !drill.name" (click)="addDrill()" expand="full">Add Drill</ion-button> -->
</ion-content>