<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/drills"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Drill</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <iframe *ngIf="trustedVideoUrl" width="100%" height="315" [src]="trustedVideoUrl" frameborder="0"
      allowfullscreen></iframe>
    <ion-item>
      <ion-label position="floating">Drill Name</ion-label>
      <ion-input placeholder="Name your drill will show as" [(ngModel)]="drill.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Video Url</ion-label>
      <ion-input placeholder="Link to Youtube video" (ionChange)="checkUrl(drill.video)" [(ngModel)]="drill.video">
      </ion-input>
      <ion-text color="danger" *ngIf="!validUrl && drill.video">This is not a valid Youtube URL</ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox slot="start" [(ngModel)]="drill.public">
      </ion-checkbox>
      <p>Is this video open for everyone on the app to view</p>
    </ion-item>
  </ion-list>
  <ion-button [disabled]="!validUrl || !drill.name" (click)="addDrill()" expand="full">Add Drill</ion-button>
</ion-content>