<ion-header no-border>
  <ion-toolbar>
    <ion-title>Parcee</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col pushMd="4" sizeMd="4">
        <p text-center>
          <img style="margin: auto" height="100px" width="100px" src="../../../assets/images/logo.png">
        </p>
        <h2 text-center>
          <ion-text color="primary">Sports Planner</ion-text>
        </h2>

        <form>
          <ion-list>
            <ion-item>
              <ion-label color="primary" position="floating">Email</ion-label>
              <ion-input name="email" [(ngModel)]="email" type="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="primary" position="floating">Password</ion-label>
              <ion-input name="password" [(ngModel)]="password" type="password"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button color="primary" routerLink="/forgot-password" fill="clear">Forgot Password</ion-button>
          <ion-button (click)="login()" expand="full">Sign In</ion-button>
          <ion-button color="primary" routerLink="/register" fill="clear" expand="full">Create Account</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>