<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/drills"></ion-back-button>
    </ion-buttons>
    <ion-title>Search Drills</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card style="background:white ">
    <ion-card-content>
      <ion-searchbar placeholder="Drill Name or Coach Name" (ionChange)="onSearchChange($event)" [debounce]="250">
      </ion-searchbar>
    </ion-card-content>
  </ion-card>



  <ion-text *ngIf="!filterDrills">
    <p class=" ion-padding ion-text-center"> Search for a Drill<br>
    </p>
  </ion-text>

  <ion-text *ngIf="noDrills">
    <p class=" ion-padding ion-text-center"> No Drills found<br>
    </p>
  </ion-text>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <!-- <ion-col size="12" sizeMd="3" sizeLg="3" *ngFor="let drill of filterDrills">
        <ion-card *ngIf="showLoading" no-margin>
          <ion-card-content no-padding>
            <ion-skeleton-text style="height: 300px;"></ion-skeleton-text>
          </ion-card-content>
          <ion-card-header>
            <ion-list>
              <ion-item lines="none">
                <ion-avatar slot="start">
                  <ion-skeleton-text></ion-skeleton-text>
                </ion-avatar>
                <ion-label>
                  <ion-skeleton-text></ion-skeleton-text>
                  <ion-skeleton-text></ion-skeleton-text>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-header>
        </ion-card> -->

      <ion-col class="ion-no-padding">

        <ion-virtual-scroll [items]="filterDrills" [headerFn]="myHeaderFn">
          <ion-list-header style="background: #f5f5f5" *virtualHeader="let header">
            {{ header }}
          </ion-list-header>
          <ion-item *virtualItem="let drill">
            <ion-avatar slot="start">
              <img [src]="drill?.photoUrl">
            </ion-avatar>
            <ion-label (click)=" viewDrill(drill)">
              {{ drill.name }}
              <p>Duration: {{ drill.duration }} minutes</p>
              <p>Coach: {{ drill?.fname + " " + drill?.lname }}</p>
              <p>added to {{ drill.plansCount }} plans </p>
            </ion-label>
            <!-- <ion-note slot="end">plans</ion-note> -->
            <ion-buttons>
              <ion-button *ngIf="drill?.coach == user?.uid" (click)="editDrill(drill) ">
                <ion-icon name="more" slot="icon-only"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-virtual-scroll>


        <!-- <ion-card *ngIf="!showLoading" no-margin style="width: 100%;">
            <ion-card-content class="ion-no-padding">
              <img (click)="viewDrill(drill)" [src]="getThumbnail(drill.youtubeId)"
                style=" min-height: 300px; width: 100%;">
              <ion-item style="padding: 5px" lines="none">
                <ion-avatar slot="start">
                  <img [src]="drill.coach.photoUrl">
                </ion-avatar>
                <ion-label no-wrap>
                  {{ drill.name }}
                  <p> Coach: {{ drill.coach.fname + " " + drill.coach.lname }} </p>
                </ion-label>
              </ion-item>
            </ion-card-content>
          </ion-card> -->

      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- 
  <ion-infinite-scroll threshold="50px" (ionInfinite)="getPublicVideos($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>