<ion-header no-border>
  <ion-buttons id="skip-button" routerLink="/login" >
    <ion-button >
      SKIP
    </ion-button>
  </ion-buttons>
</ion-header>
<ion-content fullscreen padding scroll-y="false">
  <ion-slides >
    <ion-slide>
      <h1>PLAN YOUR PRACTICE</h1>

    </ion-slide>
    <ion-slide>
      <h1> SHARE YOUR PLANS</h1>
    </ion-slide>

    <ion-slide>
      <h1>SHARE YOUR DRILLS</h1> 
      <ion-button routerLink="/login"  fill="clear" expand="full">
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
        Continue</ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>