<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
       Close
      </ion-button>
    </ion-buttons>
    <ion-title>Add Practice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime placeholder="Date of your practice" [(ngModel)]="date" name="date" pickerFormat="MMM DD, YY">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Start Time</ion-label>
      <ion-datetime placeholder="Time of your practice" [(ngModel)]="startTime" name="startTime" displayFormat="hh:mm A"
        pickerFormat="hh:mm A">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Template</ion-label>
      <ion-select text-wrap [(ngModel)]="template" placeholder="(Optional) Saved Practice Template">
        <ion-select-option value="none">No Template</ion-select-option>
        <ion-select-option *ngFor="let template of templates" [value]="template.id"> {{ template.name }}
        </ion-select-option>
        <ion-select-option style="white-space: pre-wrap; margin-bottom: 5px;" *ngFor="let template of sptemplates" [value]="template.id"> {{ template.name }} - SP Template
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button [disabled]="!date || !startTime" expand="full" (click)="createPlan()">Create Plan</ion-button>
</ion-content>