<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="viewPlans($event)">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="coach">Coach {{ coach.lname }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row *ngIf="showTimer">
    <ion-col>
      <ion-card   (click)="viewCurrentActivity(currentActivity)">
        <ion-card-header>
          <ion-card-subtitle> {{ (currentActivity?.name) ? currentActivity?.name : "Getting Next Activity..." }}
          </ion-card-subtitle>
          <ion-card-title> {{  currentActivity?.time }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>
            <p>Next Activity: <b>{{ nextActivity?.name }} </b></p>
            <p> Start Time: <b>{{ nextActivity?.startTime }}</b></p>

          </ion-label>

        </ion-card-content>

      </ion-card>
    </ion-col>
  </ion-row>

  <ion-text *ngIf="!plan"> 
    <p padding text-center > No Practice Plan is selected</p>
  </ion-text>

  <ion-list-header *ngIf="plan">
    <ion-datetime [disabled]="!isHeadCoach" (ionChange)="updateTime()" pickerFormat="MMM DD, hh:mm A"
      displayFormat="DDD, MMM DD, h:mm A" [(ngModel)]="date" 
      (click)="updateTime()" fill="clear">
      <!-- {{ (plan ) ? plan.date + " " + plan.startTime : "Select A Plan" }} -->
    </ion-datetime>
  </ion-list-header>

  <ion-reorder-group *ngIf="plan" (ionItemReorder)="reorderItems($event)" disabled="false">
    <ion-item [ngClass]="activity.startTime == currentActivity?.startTime  && showTimer   ? 'activeEvent' : ''" *ngFor="let activity of activities">
      <ion-label (click)="viewActivity(activity)">
        {{ activity.name }}
        <p> {{ activity.duration }} minutes - {{ (activity.startTime) ? activity.startTime  : "No Start Time"}}</p>
      </ion-label>
      <ion-buttons *ngIf="isHeadCoach" slot="end">
        <!-- <ion-button *ngIf="isHeadCoach" (click)="editActivity(activity)">
          <ion-icon name="create"></ion-icon>
        </ion-button> -->
        <ion-button color="dark"> 
          <ion-reorder slot="end"></ion-reorder>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-reorder-group>

  <ion-button *ngIf="plan && isHeadCoach" (click)="createActivity()" fill="clear">New Activity</ion-button>

  <ion-fab *ngIf="activities"  vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [color]="(!showTimer) ? 'primary' : 'secondary'" (click)="(!showTimer) ? runTimer() : stopTimer()">
      <ion-icon name="timer"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>