<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="viewTimer()">
        <ion-icon slot="icon-only" name="timer"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="coach">Coach {{ coach.lname }}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="viewPlans($event)">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list-header *ngIf="plan">
    <ion-datetime (ionChange)="updateTime()" pickerFormat="MMM DD, hh:mm A" displayFormat="DDD, MMM DD, h:mm A"
      [(ngModel)]="date" minuteValues="5,10,15,20,35,30,35,40,45,50,55" (click)="updateTime()" fill="clear">
      <!-- {{ (plan ) ? plan.date + " " + plan.startTime : "Select A Plan" }} -->
    </ion-datetime>
  </ion-list-header>
  <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">
    <ion-item *ngFor="let activity of activities">
      <ion-label (click)="viewActivity(activity)">
        {{ activity.name }}
        <p> {{ activity.duration }} minutes - {{ (activity.startTime) ? activity.startTime  : "No Start Time"}}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button   (click)="editActivity(activity)" >
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-reorder slot="end"></ion-reorder>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-reorder-group>

  <ion-button *ngIf="plan" (click)="createActivity()" fill="clear">New Activity</ion-button>
</ion-content>